* {
  margin: 0;
} 

html, body {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

body {
  background-image: url('pics/blackjacktable.jpeg');
  color: white;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

header {
  text-align: center;
  height: 10%;
}

h1 {
font-size: 20px;
padding: 10px;border-bottom: 3px solid black; 
color: rgb(165, 209, 207);
letter-spacing: 2px;
}

.deck, .card-pile {
  padding: 30px;
}

.game {
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 80%;
}

#start-button {
  background-color: blue;
  color: white;
  border-color: black;
}

.names {
  font-size: 20px;
}

.playerNameInput {
  font-size: 20px;
}

#input-name, #submitbutton, #hit-button, #stand-button, #next-hand-button, 
#rec-button {
  background-color: darkgreen;
  border-color: black;
  color: white;
}

.button-turn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 120px;
  padding-left: 90px;
}

#stand-button {
  width: 50px;
  height: 50px;
  text-align: left;
}
  
#hit-button {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}

#next-hand-button {
  transform: translateY(-20px);
  width: 90px;
  height: 80px;
  margin: 0 auto;
}

.hitStand {
  margin: 0 auto;
}

#reset-button {
  background-color: red;
  border-color: black;
  color: white;
  /* margin-left: 70px; */
}

#input-name {
 width: auto;
 
}

.deck, .button-turn {
  height: 200px;
  /* background-color: burlywood; */
}

.dealer, .player {
  /* background-color: green; */
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card-pile, #rec-button {
  height: 50%;
}

.left-column, .right-column {
  /* height: 60%; */
  width: 25%;
}

.middle-column {
  width: 50%;
}

footer {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  border-top: 3px solid black; 
  /* background-color: chartreuse; */
  height: 5%;
}

#rec-button {
  height: 50px;
  background-color: yellow;
  color: black;
  margin-bottom: 15px;
  font-weight: 600;
}

.pCardImage, .dCardImage {
  height: 100px;
  width: 100x;
}

.deckPile {
  height: 90px;
  width: 75px;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scoreBoardText {
  height: 50px;
  font-size: 50px;
  color:  rgb(59, 57, 204);
  line-height: 40px;
}

.rec-button-text {
  color: white;
  font-size: 25px;
}

/* setting were given to me by Trevor */
.confetti{
  display: none;
  height: 10px;
  width: 5px;
  background-color: black;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transition: 0.3s;
  transition-timing-function: ease-out;
}

/* .flip-container{
  position: absolute;
  top: 110px;
  left: 90px;
  height: 100px;
  width: 130px;
} */

/* .back {
  background-image: url('pics/20200107_134815.jpg');
  background-size: cover;
  height: 97px;
  width: 75px;
  background-repeat: no-repeat;
} */
/* 
@keyframes dCard1 {
  33% {
    left: 0;
    top: 0;
  };
  66% {
    left: 70px;
    right: 70px;
  };
  100% {
    left: 150px;
    top: 150px;
  };
} */

/* .animate {
  animation: dCard1 2s linear;
} */

/* make the font of buttons bigger 
start button should be higher
hit, stand, next, spaced, warmer yellow font
rec button,  */