* {
  margin: 0;
} 

body {
  background-image: url('pics/blackjacktable.jpeg');
  color: white;
  text-align: center;
}

 header {
  text-align: center;
  /* background-color: beige; */
  height: 10%;
}

h1 {
font-size: 15px;
padding: 10px;border-bottom: 3px solid black; 
color: white;
}

.top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */
  height: 15%;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

#input-name, #submitbutton, #reset-button, #hit-button, #stand-button, #next-hand-button, 
#rec-button {
  background-color: darkgreen;
  border-color: black;
  color: white;
}

#input-name {
 width: auto;
 
}

.deck, .button-turn {
  flex: 0 32%;
  height: 200px;
  /* background-color: burlywood; */
}

.dealer, .player {
  /* background-color: green; */
  height: 50%;
}

.card-pile, #rec-button {
  height: 50%;
}

.left-column, .right-column {
  /* height: 60%; */
  width: 25%;
}

.middle-column.middle-column {
  width: 50%;
}

footer {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  border-top: 3px solid black; 
  /* background-color: chartreuse; */
  height: 15%;
}